#!/bin/bash

echo "$(tput setaf 1) ---- Creating Folder for Zeek & Slips ----"
cd /home/

echo "$(tput setaf 3) ---- Ketikan di direktori mana folder akan di buat (ex: /home/ubuntu/Downloads/  )     ----"
read directory
cd $directory

echo "$(tput setaf 3) ---- Ketikan Nama Folder yang ingin dibuat (ex: ProjecTA/ )     ----"

read folder
mkdir $folder
cd $directory$folder

pwd

echo "$(tput setaf 1) ---- Performing upgrade ----"
sudo apt update -y
sudo apt upgrade -y

echo "$(tput setaf 1) ---- Installing Zeek (Intrusion Detection System) ----"
sudo apt-get install cmake make gcc g++ flex bison libpcap-dev libssl-dev python3 python3-dev swig zlib1g-dev
git clone --recursive https://github.com/zeek/zeek
zeekstring = zeek
cd $directory$folder$zeekstring
./configure && make && make install
cd ..

echo "$(tput setaf 1) ---- Installing Slips (Machine Learning) ----"
git clone https://github.com/stratosphereips/StratosphereLinuxIPS
echo "$(tput setaf 3) ---- Jangan Lupa untuk Configure file slips.conf ----"

echo "$(tput setaf 1) ---- Installing Java 8 ----"
sudo apt install openjdk-8-jdk
# Install Elasticsearch Debian Package 
# ref: https://www.elastic.co/guide/en/elasticsearch/reference/current/deb.html
echo "$(tput setaf 1) ---- Setting up public signing key ----"
wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
echo "$(tput setaf 1) ---- Installing the apt-transport-https package ----"
sudo apt-get install apt-transport-https
sudo apt update
echo "$(tput setaf 1) ---- Saving Repository Definition to /etc/apt/sources/list.d/elastic-8.x.list ----"
echo "deb https://artifacts.elastic.co/packages/8.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-8.x.list
echo "$(tput setaf 1) ---- Installing the Elasticsearch Debian Package ----"
sudo apt-get update && sudo apt-get install elasticsearch
echo "$(tput setaf 1) ---- Installing the Kibana Debian Package ----"
sudo apt-get install kibana
echo "$(tput setaf 1) ---- Installing Logstash ----"
sudo apt-get install logstash
echo "$(tput setaf 1) ---- Installing Filebeat ----"
curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-8.2.0-amd64.deb
sudo dpkg -i filebeat-8.2.0-amd64.deb
sudo rm filebeat*
sudo filebeat modules enable system
sudo filebeat modules enable cisco
sudo filebeat modules enable netflow
sudo filebeat modules enable osquery
sudo filebeat modules enable elasticsearch
sudo filebeat modules enable kibana
sudo filebeat modules enable logstash
sudo filebeat modules enable zeek
#echo "$(tput setaf 1) ---- Starting Elasticsearch ----"
sudo /bin/systemctl daemon-reload
sudo /bin/systemctl enable elasticsearch.service
#sudo /bin/systemctl start elasticsearch.service
#echo "$(tput setaf 1) ---- Starting Kibana ----"
sudo /bin/systemctl enable kibana.service
#sudo /bin/systemctl start kibana.service
#echo "$(tput setaf 1) ---- Starting Logstash ----"
sudo /bin/systemctl enable logstash.service
#sudo /bin/systemctl start logstash.service
echo "$(tput setaf 1) ---- Starting Filebeat ----"
sudo systemctl enable filebeat
sudo systemctl start filebeat
sudo filebeat setup -e
sudo filebeat setup --dashboards
sudo filebeat setup --index-management
sudo filebeat setup --pipelines

echo "$(tput setaf 1) ---- Final Finish Configuration ----"
echo "$(tput setaf 4) 1. edit kibana.yml and change server.host to 0.0.0.0 so that you can connect to kibana from other systems http://IPADDRESS:5601"
echo "$(tput setaf 4) 2. edit elasticsearch.yml and change network.host to 0.0.0.0 so that other systems can send data to elasticsearch"
echo "$(tput setaf 4) 3. restart both services sudo systemctl restart elasticsearch kibana"
